# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Large Models
# (Removed from ignore to allow LFS upload)

# Datasets (Not needed for production)
dataset_breed/
dataset_disease/

# Misc
.vscode/
.DS_Store
*.log